<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Driver</title>
</head>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
</style>
<body>

<div>
    <h2> You are logged in as driver </h2>
    <h2 th:text="${name}">--</h2>
    <h3 th:text="${driversCar}">--</h3>
</div>

<h2 th:if="${errorMsg}" th:text="${errorMsg}">--</h2>

<div class="driverMessages" th:unless="${#lists.isEmpty(driverMessages)}">
    <h2> Messages </h2>
    <table>
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Content</th>
            <th>Payload</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${driverMessages}">
            <td th:text="${{message.from}}">--</td>
            <td th:text="${{message.to}}">--</td>
            <td th:text="${{message.type}}">--</td>
            <td th:text="${{message.payload}}">--</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <form th:action="@{/driver/ACK}" method="get">
        <button>Accept Order</button>
    </form>
    <form th:action="@{/driver/NACK}" method="get">
        <button>Decline Order</button>
    </form><br>
    <form th:action="@{/driver/set}" method="post">
        <fieldset>
            <input name="idOrder" type="number" placeholder="Order Id"><br>
            <div class="submit">
                <button>Set Order</button>
            </div>
        </fieldset>
    </form>
    <p th:if="${orderSet}">Order successfully set</p>
</div>

    <div class="currentOrder" th:if="${currentOrder}">
    <h2> Current order </h2>
    <table>
        <tr>
            <th>Source:</th>
            <td th:text="${currentOrder.srcAddress}">--</td>
        </tr>
        <tr>
            <th>Destination:</th>
            <td th:text="${currentOrder.dstAddress}">--</td>
        </tr>
    </table>
    </div>
</div>

<br>

<div>
    <div class="currentOrder" th:if="${currentOrder}">
    <form th:action="@{/driver/finish}" method="post">
        <fieldset>
            <input type="hidden" name="idOrder" th:value="${currentOrder.id}"/>
            <div class="submit">
                <button>Finish Order</button>
            </div>
        </fieldset>
    </form>
    </div>
    <p th:if="${orderFinished}">Successfully finished</p>
</div>

</body>
</html>