<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>

<div>
    <h2> You are logged in as manager </h2>
</div>
<br>

<div>
    <h2> Order </h2>
    <form>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Driver Id"><br>
            <input type="number" class="form-control" placeholder="Order Id">
        </div>
    </form>
    <br>
    <button type="submit" name="Send" value="submit">Send</button>
</div>

<div>
    <h2> Driver </h2>

    <form>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Driver Id"><br>
        </div>
    </form>
    <br>
    <div class="submit">
        <button type="submit" name="ACK" value="submit">Accept Order</button>
        <button type="submit" name="NACK" value="submit">Decline Order</button>
    </div>
</div>

<div>
    <h2> Client </h2>

    <form>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Client Id"><br>
        </div>
    </form>
    <br>
    <div class="submit">
        <button type="submit" name="ACK" value="submit">Accept Order</button>
        <button type="submit" name="NACK" value="submit">Decline Order</button>
    </div>
</div>

<div>
    <h2> Driver activation </h2>

    <form>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Driver Id"><br>
        </div>
    </form>
    <br>
    <button type="submit" name="Activate" value="submit">Activate</button>
</div>

</body>
</html>